* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
  position: relative;
  background-color: grey;
  width: 40%;
  height: 50vh;
  top: 100px;
  left: 100px;
}

.box{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: hotpink;
  animation-name: spostabox;
  animation-duration: 10s;
}

@keyframes spostabox{
 0%{
   left:0;
   top:0;
 }
 25%{
   left: calc(100% - 100px);
   top:0;
 }
 50%{
   left: calc(100% - 100px);
   top: calc(100% - 100px);
 }
 75%{
   left: 0;
   top: calc(100% - 100px);
 }
 100%{
   left:0;
   top:0;
 }
}



/*  .container{
   width: 1070px;
   margin: 50px auto;
 }

 .image-container{
   float: left;
   margin: 20px;
 }

  .image-container img{
   width: 400px;
   border-radius: 10px;
   transition: filter 0.5s;
 }

 .image-container:hover img{
   filter: grayscale(50%) blur(20px);
 } */